[user]
	name = ayoobf
	email = rflooivl@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	excludesFile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[alias]
	st = status
	co = checkout
	lg = log --oneline --graph --decorate
	sync = "!f() { git add . && git commit -m \"$1\" && git push; }; f"
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
